<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        AnitUX - Bass
    </title>
</head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'antiux/style.css' %}">

<script>
    function process() {
    var x = document.getElementById("password").value;
    document.getElementById("demo").innerHTML = x;
    }
</script>

<body>
    <div id='content'>
        <h1>Anti UX</h1>
        <h2>Bass:</h2>
        <div id='instrumentPage'>
            <img src="../../static/antiux/bass.jpg" width="300" height="300" style="margin: 20px;" />
            <p id="instrumentParagraph">THE DOUBLE BASS WAS INVENTED IN THE FIFTEENTH CENTURY.IT IS A 
            LARGE STRINGED INSTRUMENT THAT PRODUCES SOUND BY BEING BOWED BY THE PERFORMER. THE STRINGS
            VIBRATE THE WOODEN BODY OF THE INSTRUMENT AND THE WOODEN BODY HELPS VIBRATE THE AIR AROUND
            THE INSTRUMENT TO PRODUCE SOUND WAVES THAT WE CAN HEAR OR FEEL. IT WAS CREATED TO ADD LOW END 
            SOUNDS THAT THE ORCHESTRA COULD NOT PRODUCE. THE ELECTRIC BASS GUITAR WAS INVENTED IN THE 1930S,
            FOLLOWING THE INVENTION OF THE ELECTRIC GUITAR PICKUP. MODERN COMPETEING BASS GUITAR COMPANIES
            INCLUDE FENDER, GIBSON, AND WARWICK.</p>
        </div>
        <button type="button" style="background-color: lightgreen; margin: 10px;"><a href="{% url 'antiux:index' %}" style="color:white">Home</a></button>
    </div>
</body>
</html>