<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        AnitUX - Password
    </title>
</head>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'antiux/style.css' %}">

<script>
    function process() {
    var x = document.getElementById("password").value;
    document.getElementById("demo").innerHTML = x;
    }
</script>

<body>
    <div id='content'>
        <h1>Anti UX</h1>
        <div id='passwordContainer'>
            <input class="form-control" type="text" id="password">

            <button onclick="process()" class="btn btn-dark">Check</button>

            <p id="demo"></p>

            <div id='buttons'>
                <button type="button" class="btn btn"><a href="{% url 'antiux:results' %}">Next</a></button>
                <button type="button" class="btn btn"><a href="{% url 'antiux:index' %}">Back</a></button>
            </div>
        </div>
    </div>
</body>
</html>